<div
  class="bg-black bg-opacity-80 flex sticky justify-center items-center h-11 inset-0 backdrop-filter backdrop-blur-lg z-50"
>
  <ul
    class="flex justify-center items-center gap-10 text-zinc-300 w-[100%] font-['Roboto'] text-[12px]"
  >
    <div class="w-5 icon">
      <img
        src="../../assets/apple-logo-header.png"
        alt="apple-logo"
        width="100%"
      />
    </div>
    <li class="list">Store</li>
    <li class="list">Mac</li>
    <li class="list">iPad</li>
    <li class="list">iPhone</li>
    <li class="list">Watch</li>
    <li class="list">Vision</li>
    <li class="list">AirPods</li>
    <li class="list">TV & Home</li>
    <li class="list">Entertainment</li>
    <li class="list">Accessories</li>
    <li class="list">Support</li>
    <div class="flex gap-5">
      <mat-icon class="text-[20px]">search</mat-icon>
      <mat-icon class="text-[20px]">local_mall</mat-icon>
    </div>
  </ul>
</div>
