<div
  class="bg-black bg-opacity-50 flex fixed justify-center items-center h-11 inset-0 backdrop-filter backdrop-blur-lg"
>
  <ul
    class="flex justify-center gap-10 text-white w-[100%] font-['Roboto'] text-[12px]"
  >
    <li><img src="" alt="" /></li>
    <li>Store</li>
    <li>Mac</li>
    <li>iPad</li>
    <li>iPhone</li>
    <li>Watch</li>
    <li>Vision</li>
    <li>AirPods</li>
    <li>TV & Home</li>
    <li>Entertainment</li>
    <li>Accessories</li>
    <li>support</li>
  </ul>
</div>
