@media (max-width: 1080px) {
  .navbar-container {
    position: fixed;
  }
  .list {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon {
    margin-left: 10px;
  }
}
