<div
  class="flex flex-col justify-center items-center w-[100%] h-[80vh] font-['Roboto'] bg-black main-container"
>
  <div class="text-white text-center pt-5">
    <p class="text-5xl font-semibold">iPhone 15 Pro</p>
    <p class="text-2xl">Titanium. So strong. So light. So Pro.</p>
    <div
      class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
    >
      <a class="text-blue-500" href="#">Learn more ></a>
      <a class="text-blue-500" href="#">Buy ></a>
    </div>
  </div>
  <img
    class="mt-10"
    src="../../assets/hero_iphone15pro__i70z9oz3hj2i_medium.jpg"
    width="60%"
    alt=""
  />
</div>
