<div
  class="flex flex-col justify-center items-center font-['Roboto'] bg-[#fffff] m-[10px]"
>
  <div class="w-[100%] flex">
    <div class="top-left bg-center flex flex-col items-center gap-3 mr-[5px]">
      <img
        class="mt-20"
        src="../../assets/promo_logo_apple_watch_series_9__ckz0hbex0yeu_small_2x.png"
        alt=""
        width="20%"
      />
      <div class="text-white text-center">
        <p class="text-2xl">Smarter.Brighter.Mightier</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">Learn more ></a>
          <a class="text-blue-500" href="#">Buy ></a>
        </div>
      </div>
    </div>
    <div class="top-right bg-center flex flex-col items-center gap-3 ml-[5px]">
      <div class="text-[#1d1d1f] text-center pt-20">
        <p class="text-5xl font-semibold">MacBook Pro</p>
        <p class="text-2xl">Mind-blowing. Head-turning.</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">Learn more ></a>
          <a class="text-blue-500" href="#">Buy ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[100%] flex mt-[10px]">
    <div
      class="middle-left bg-center flex flex-col items-center gap-3 mr-[5px]"
    >
      <div class="text-[#1d1d1f] mt-20 text-center">
        <p class="text-5xl font-semibold">iPad</p>
        <p class="text-2xl">Lovable.Drawable.Magical</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">Learn more ></a>
          <a class="text-blue-500" href="#">Buy ></a>
        </div>
      </div>
    </div>
    <div
      class="middle-right bg-center flex flex-col items-center gap-3 ml-[5px]"
    >
      <div class="text-white text-center pt-20">
        <p class="text-5xl font-semibold">AirPods Pro</p>
        <p class="text-2xl">Adaptive Audio.Now playing.</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">Learn more ></a>
          <a class="text-blue-500" href="#">Buy ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-[100%] flex mt-[10px]">
    <div
      class="bottom-left bg-center flex flex-col items-center gap-3 mr-[5px]"
    >
      <img
        class="mt-20"
        src="../../assets/logo__dcojfwkzna2q_small_2x.png"
        alt=""
        width="15%"
      />
      <div class="text-[#1d1d1f] text-center">
        <p class="text-2xl">Get up to 3% Daily Cash back</p>
        <p class="text-2xl">with every puschase.</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">Learn more ></a>
          <a class="text-blue-500" href="#"> Apply now ></a>
        </div>
      </div>
    </div>
    <div
      class="bottom-right bg-center flex flex-col items-center gap-3 ml-[5px]"
    >
      <img
        class="mt-20"
        src="../../assets/logo_tradein__d1fpktgipvki_small_2x.png"
        alt=""
        width="20%"
      />
      <div class="text-[#1d1d1f] text-center">
        <p class="text-2xl">Get $180-$620 in credit when</p>
        <p class="text-2xl">you trade in iPhone 11 or higher.</p>
        <div
          class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
        >
          <a class="text-blue-500" href="#">See what you device is worth ></a>
        </div>
      </div>
    </div>
  </div>
</div>
