.top-left {
  background-image: url("../../assets/promo_apple_watch_series_9_order__b3u85rm9zf6u_small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 90vh;
}
.top-right {
  background-image: url("../../assets/promo_mbp__ek7p477bkp6q_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
.middle-left {
  background-image: url("../../assets/promo_ipad__fioegapg12qi_small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 90vh;
}
.middle-right {
  background-image: url("../../assets/promo_airpods_pro_order__d8xv36p4uwae_small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
.bottom-left {
  background-image: url("../../assets/tile__cauwwcyyn9hy_small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 90vh;
}
.bottom-right {
  background-image: url("../../assets/promo_iphone_tradein__bugw15ka691e_small_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

@media (max-width: 670px) {
  .shopping-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-left,
  .top-right,
  .middle-left,
  .middle-right,
  .bottom-left,
  .bottom-right {
    margin: 0 10px 10px 10px;
    width: 100%;
  }

  .top-right {
    background-image: url("../../assets/promo_mbp__ek7p477bkp6q_small_2x\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    & div {
      padding-bottom: 200px;
    }
  }
  .middle-right,
  .bottom-right {
    & div {
      padding-bottom: 200px;
    }
  }
}
