<div
  class="flex flex-col justify-center items-center w-[100%] font-['Roboto'] mt-[10px] vision-container"
>
  <div
    class="text-[#1d1d1f] flex flex-col justify-center items-center text-center vision-container-context"
  >
    <div class="flex justify-center items-center">
      <img
        src="../../assets/hero_logo_apple_vision_pro__ea9qv4w4cngy_large.png"
        alt=""
        width="60%"
      />
    </div>
    <p class="text-2xl">Welcome to the era of spatial computing.</p>
    <div
      class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
    >
      <a class="text-blue-500" href="#">Learn more ></a>
      <a class="text-blue-500" href="#">Buy ></a>
    </div>
  </div>
</div>
