<div
  class="flex flex-col justify-center items-center w-[100%] font-['Roboto'] bg-[#f5f5f7] mt-[10px] relative"
>
  <div
    class="text-[#1d1d1f] flex flex-col justify-center items-center text-center pt-20 absolute bottom-5"
  >
    <div class="flex justify-center items-center">
      <img
        class="flex justify-center items-center"
        src="../../assets/apple-logo-transparent.png"
        alt=""
        width="2%"
      />
      <p class="text-5xl font-semibold">Vision Pro</p>
    </div>
    <p class="text-2xl">Welcome to the era of spatial computing.</p>
    <div
      class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
    >
      <a class="text-blue-500" href="#">Learn more ></a>
      <a class="text-blue-500" href="#">Buy ></a>
    </div>
  </div>
  <img
    class=""
    src="../../assets/hero_apple_vision_pro_endframe__exabw3uiajee_medium.jpg"
    width="70%"
    alt=""
  />
</div>
