<div
  class="flex flex-col justify-center items-center w-[100%] font-['Roboto'] bg-[#f5f5f7] mt-[10px] phone-container"
>
  <div class="text-[#1d1d1f] text-center pt-20">
    <p class="text-5xl font-semibold">iPhone 15</p>
    <p class="text-2xl">New camera. New design. Newphoria.</p>
    <div
      class="flex text-center justify-center gap-10 text-[1.2rem] font-medium"
    >
      <a class="text-blue-500" href="#">Learn more ></a>
      <a class="text-blue-500" href="#">Buy ></a>
    </div>
  </div>
  <img
    src="../../assets/hero_iphone15_announce__uuemlcwczn6u_small_2x.jpg"
    width="100%"
    alt=""
  />
</div>
